.table__row {
  font-size: 10px !important;
  color: grey !important;
  text-align: left !important;
  padding-bottom: 5px !important;
}
.table__row__values {
  border: 1px solid rgba(224, 224, 224, 1) !important;
}
.table_row_text {
  font-size: 10px !important;
  font-weight: 550 !important;
}
.basicTable {
  width: 65% !important;
  float: right;
  border: 1px solid rgba(224, 224, 224, 1) !important;
  padding-left: 10px !important;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

